<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory name="imhotep">

		<property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
		<property name="hibernate.connection.show_sql">true</property>
		<property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
		<property name="hibernate.connection.username">imhotep</property>
		<property name="hibernate.connection.password">!@#imhotep*()1237890</property>
		<property name="hibernate.connection.url">jdbc:postgresql://127.0.0.1:5432/db_imhotep</property>

		<mapping class="br.com.imhotep.entidade.Usuario" />
		<mapping class="br.com.imhotep.entidade.Menu" />
		<mapping class="br.com.imhotep.entidade.Fabricante" />
		<mapping class="br.com.imhotep.entidade.TipoMaterial" />
		<mapping class="br.com.imhotep.entidade.Grupo" />
		<mapping class="br.com.imhotep.entidade.SubGrupo" />
		<mapping class="br.com.imhotep.entidade.Familia" />
		<mapping class="br.com.imhotep.entidade.Material" />
		<mapping class="br.com.imhotep.entidade.UnidadeMaterial" />
		<mapping class="br.com.imhotep.entidade.ListaEspecial" />
		<mapping class="br.com.imhotep.entidade.Livro" />
		<mapping class="br.com.imhotep.entidade.AutorizaMenu" />
		<mapping class="br.com.imhotep.entidade.TipoConselho" />
		<mapping class="br.com.imhotep.entidade.LiberaMaterialEspecialidade" />
		<mapping class="br.com.imhotep.entidade.Profissional" />
		<mapping class="br.com.imhotep.entidade.Estado" />
		<mapping class="br.com.imhotep.entidade.Cidade" />
		<mapping class="br.com.imhotep.entidade.Unidade" />
		<mapping class="br.com.imhotep.entidade.AutorizaUnidadeProfissional" />
		<mapping class="br.com.imhotep.entidade.Paciente" />
		<mapping class="br.com.imhotep.entidade.TipoMovimento" />
		<mapping class="br.com.imhotep.entidade.Estoque" />
		<mapping class="br.com.imhotep.entidade.MovimentoLivro" />
		<mapping class="br.com.imhotep.entidade.Especialidade" />
		<mapping class="br.com.imhotep.entidade.Prescricao" />
		<mapping class="br.com.imhotep.entidade.PrescricaoItem" />
		<mapping class="br.com.imhotep.entidade.PrescricaoItemDose" />
		<mapping class="br.com.imhotep.entidade.Chamado" />
		<mapping class="br.com.imhotep.entidade.Hospital" />
		<mapping class="br.com.imhotep.entidade.Doacao" />
		<mapping class="br.com.imhotep.entidade.ErroAplicacao" />
		<mapping class="br.com.imhotep.entidade.Painel" />
		<mapping class="br.com.imhotep.entidade.AutorizaPainel" />
		<mapping class="br.com.imhotep.entidade.PrescricaoItemEstoqueSaida" />
		<mapping class="br.com.imhotep.entidade.ControleMedicacaoRestritoSCHI" />
		<mapping class="br.com.imhotep.entidade.CuidadosPaciente" />
		<mapping class="br.com.imhotep.entidade.CuidadosPrescricao" />
		<mapping class="br.com.imhotep.entidade.EstoqueCentroCirurgico" />
		<mapping class="br.com.imhotep.entidade.EstoqueCentroCirurgicoLivro" />
		<mapping class="br.com.imhotep.entidade.Configuracao" />
		<mapping class="br.com.imhotep.entidade.PacienteEntrada" />
		<mapping class="br.com.imhotep.entidade.TesteDoPezinho" />
		<mapping class="br.com.imhotep.entidade.TesteDoPezinhoResultado" />
		<mapping class="br.com.imhotep.entidade.TipoExame" />
		<mapping class="br.com.imhotep.entidade.UnidadeSaude" />
		<mapping class="br.com.imhotep.entidade.Fornecedor" />
		<mapping class="br.com.imhotep.entidade.NotaFiscal" />
		<mapping class="br.com.imhotep.entidade.NotaFiscalEstoque" />
		<mapping class="br.com.imhotep.entidade.AjusteEstoque" />
		<mapping class="br.com.imhotep.entidade.DispensacaoSimples" />
		<mapping class="br.com.imhotep.entidade.UsuarioAcessoLog" />
		<mapping class="br.com.imhotep.entidade.EstoqueLog" />
		<mapping class="br.com.imhotep.entidade.Recursos" />
		<mapping class="br.com.imhotep.entidade.AvaliacaoPsicologica" />
		<mapping class="br.com.imhotep.entidade.AvaliacaoPsicologicaLog" />
		<mapping class="br.com.imhotep.entidade.PrescricaoAntiga" />
		<mapping class="br.com.imhotep.entidade.PrescricaoAntigaArquivo" />
		<mapping class="br.com.imhotep.entidade.AutorizaMenuProfissional" />
		<mapping class="br.com.imhotep.entidade.Convenio" />
		<mapping class="br.com.imhotep.entidade.PacienteEntradaResponsavel" />
		<mapping class="br.com.imhotep.entidade.Cid" />
		<mapping class="br.com.imhotep.entidade.ProcedimentoSaude" />
		<mapping class="br.com.imhotep.entidade.PacienteEntradaCid" />
		<mapping class="br.com.imhotep.entidade.PacienteEntradaProcedimentoSaude" />
		<mapping class="br.com.imhotep.entidade.EhealthEstabelecimento" />
		<mapping class="br.com.imhotep.entidade.EhealthEstado" />
		<mapping class="br.com.imhotep.entidade.EhealthMunicipio" />

	</session-factory>
</hibernate-configuration>
